@font-face{
  font-family: FuenteTitular ;
  src: url(FuentesTexto/Rose_Knight.ttf);
}
@font-face{
  font-family: FuenteEscritura ;
  src: url(FuentesTexto/lumoslatino.ttf);
}
.superior {
    font-family: FuenteTitular;
    padding: 1px;
    position: sticky;
    top: 0px;
    bottom: 100px;
    text-align: center;
    background: #381f74;
    color: white;
    font-size: 28px;
    height: 90px;
    border-color: black; 
    border-width: 1px;
    border-style: solid; 
    border-width: medium;
    border-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
}

.Inicio{
    background-image: url("intro.png");
    background-size: 100%;
    
    height: auto;
    background-repeat: no-repeat;
    
}
.texto{
  margin-left: 300px;
  
}
.maguito{
  width: 600px;
  height: 600px;
  margin-left: 300px;

}
body {
    margin: 0;
}
  
ul {
    font-family: FuenteTitular;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li {
    display: block;
    background-color: #381f74;
    border: none;
    text-align: center;
    font-size: 17px;
    padding: 25px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
}

li span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

li span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

li:hover span {
  padding-right: 25px;
}

li:hover span:after {
  opacity: 1;
  right: 0;
}

li a.active {
    background-color: #381f74;
    color: white;
}

div {
    padding:1px 200px;
    height: 1000px;
    
}
  
li a:hover:not(.active) {
    background-color: #381f74;
}

table {
    padding: 10px 170px;
    padding-bottom: 1px;    
}

td {
  padding: 10px 20px 35px;
  font-size: 26px;
  font-family: FuenteEscritura;
  font-weight: 700;
}

.barraLateral {
  color:rgb(128, 128, 128)
}
*{
  overflow:visible;

}