.superior {
    padding: 1px;
    overflow: auto;
    position: sticky;
    top: 0px;
    text-align: center;
    background: #f59e1d;
    color: white;
    font-size: 18px;
    height: 90px; 
    border-color: black; 
    border-width: 1px;
    border-style: solid; 
    border-width: medium;
    border-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
}

body {
    margin: 0;
}
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li {
    display: block;
    background-color: #f59e1d;
    border: none;
    color: black;
    text-align: center;
    font-size: 15px;
    padding: 25px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
}

li span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

li span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

li:hover span {
  padding-right: 25px;
}

li:hover span:after {
  opacity: 1;
  right: 0;
}

li a.active {
    background-color: #f59e1d;
    color: white;
}

div {
    padding:1px 170px;
    height:1000px;
}
  
li a:hover:not(.active) {
    background-color: #f59e1d;
}

table {
    padding: 10px 170px;
}

td {
  padding: 10px 20px 35px;
}
